<p hidden id='users_index' class='pageName'></p>

<h1>Show User(s)</h1>

<ul>
<% users.sort_by(&:id).each do |user| %>
  <li>
    <% if policy(user).edit? %>
      <%= link_to("Edit User #{user.id}", edit_user_path(user)) %>:
    <% elsif policy(user).show? %>
      <%= link_to("See User #{user.id}", user_path(user)) %>:
    <% end %>
    <%= user.email %> -- role: <%= user.role %>
    <% if policy(user).destroy? %>
      <i>
        <%= link_to "Delete User #{user.id}", user_path(user),
                    data: {:confirm => 'Are you sure?'}, :method => :delete %>
      </i>
    <% end %>
  </li>
<% end %>
</ul>

<i>Current User: <%= current_user.email %> -- <%= current_user.role %></i>
